button {
    background-color: white; 
    color: white;
    padding: 15px;
    margin: 4px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black; 
    border: 2px solid #4CAF50;
}
  

button:hover {
    background-color: #4CAF50;
    color: white;
}